/* RoverCar */
.rover-card{
  cursor: pointer;
  margin: 20px !important;
  transition: 0.2s ease-in-out !important;
}

.rover-card:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.rover-selected{
  border: 5px solid #00BFA5 !important;
}


/* ListPhotos */
.grid-container{
  column-count: 3;
}

.img_wrap_grid {
  position: relative;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.img-post{
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width:550px){
  .grid-container{
    column-count: 2
  }
}

@media (max-width:319px){
  .grid-container{
    column-count: 1
  }
}